Repository ByteOps-swe/Sorgente-documenti, pull requests merged in 2023-11, with the labels that each got.

#2 Creazione template verbali
  Documents/Candidatura/Lettera_di_Presentazione.tex
  Documents/Candidatura/Preventivo_costi_e_assunzione_impegni.tex
  Documents/Candidatura/Valutazione_Capitolati.tex
  Documents/RTB/Norme di progetto/Norme_di_progetto.tex
  Documents/Verbali/Candidatura/Esterni/Verbale_20-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_17-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_18-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_23-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_27-10-2023.tex
  Documents/Verbali/RTB/Interni/Verbale_03-11-2023.tex
  Documents/Verbali/Templates/Verbale_Esterno.tex
  Documents/Verbali/Templates/Verbale_Interno.tex
Labels: verbale

#3 Aggiornamento verbali precedenti
  Documents/Verbali/Candidatura/Esterni/Verbale_20-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_17-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_18-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_23-10-2023.tex
  Documents/Verbali/Candidatura/Interni/Verbale_27-10-2023.tex
Labels: verbale

#4 Template verbali: modifica sezione hyperlink
  Documents/Verbali/Templates/Verbale_Esterno.tex
  Documents/Verbali/Templates/Verbale_Interno.tex
Labels: verbale

#5 Redazione verbale interno 06/11/2023
  Documents/Verbali/RTB/Interni/Vebale_06-11-2023.tex
  Documents/Verbali/RTB/Interni/Verbale_03-11-2023.tex
Labels: verbale

#131 Norme di progetto gestione della configurazione
  RTB/Norme_di_progetto_v0.2.0.tex
Labels: NormeDiProgetto, Verifica

#144 Redazione sezione "Introduzione" di "Norme di Progetto"
  RTB/Norme_di_progetto_v0.2.0.tex
Labels: NormeDiProgetto, Verifica

#163 Norme di progetto documentazione
  RTB/Norme_di_progetto_v0.2.0.tex
Labels: documentation, NormeDiProgetto, Verifica

#169 modificata struttura LaTeX
  RTB/Images/stackTecnologico.PNG
  RTB/Images/uc1.png
  RTB/Images/uc10.png
  RTB/Images/uc1_Subcase.PNG
  RTB/Images/uc2.png
  RTB/Images/uc2_Subcase.PNG
  RTB/Images/uc3.png
  RTB/Images/uc3_Subcase.png
  RTB/Images/uc6.png
  RTB/Images/uc6_Subcase.PNG
  RTB/Images/uc7.png
  RTB/Images/uc7_Subcase.PNG
  RTB/Images/uc9.png
  RTB/Norme_di_progetto_v0.3.0.tex
  RTB/Sezioni/Norme_di_progetto/Introduzione.tex
  RTB/Sezioni/Norme_di_progetto/Processi_di_supporto.tex
  RTB/Sezioni/Norme_di_progetto/Processi_organizzativi.tex
  RTB/Sezioni/Norme_di_progetto/Processi_primari.tex
  RTB/Sottosezioni/Norme_di_progetto/Documentazione.tex
  RTB/Sottosezioni/Norme_di_progetto/Finalità_del_documento.tex
  RTB/Sottosezioni/Norme_di_progetto/Formazione.tex
  RTB/Sottosezioni/Norme_di_progetto/Gestione_dei_processi.tex
  RTB/Sottosezioni/Norme_di_progetto/Gestione_della_configurazione.tex
  RTB/Sottosezioni/Norme_di_progetto/Glossario.tex
  RTB/Sottosezioni/Norme_di_progetto/Miglioramento.tex
  RTB/Sottosezioni/Norme_di_progetto/Riferimenti.tex
  RTB/Sottosezioni/Norme_di_progetto/Sviluppo.tex
  RTB/Sottosezioni/Norme_di_progetto/Verifica.tex
Labels: documentation, enhancement, NormeDiProgetto

#165 Verbale 17/11/2023
  RTB/Verbali/Interni/Verbale_17-11-2023.tex
Labels: documentation, Verbale

#193 fixata spaziatura
  RTB/Sottosezioni/Norme_di_progetto/Documentazione.tex
Labels: bug

#194 Scrittura Verbale Interno 24-11-2023
  RTB/Verbali/Interni/Verbale_24-11-2023.tex
Labels: Verbale
